# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Data files
data/
data/img_extracted/
data/url_extracted/

# OS files
.DS_Store
Thumbs.db

# Jupyter notebook checkpoints
.ipynb_checkpoints/
